
.container {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(5, 80px);
  gap: 10px;
}
.box {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#frog, #strawbery {
  max-width: 100%;
  max-height: 100%;
}
.button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
button {
  margin: 0 10px;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50; /* Green color */
  border: none;
  color: white;
  border-radius: 8px;
}
button:hover {
  background-color: #45a049; /* Darker green color on hover */
}